<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheckBox Test</title>
    <link rel="stylesheet" href="../styles/cbstyles.css" />
</head>
<body>
    <div class="checkbox-container">
        <div class="checkbox">
            <!--note that we can add these extra parameters for disabled/enabled if the 
                checkbox is active as well as checked right from the start. Probably
                more useful in testing or through javascript when we want to disable buttons
                that have no relevance depending on previous responses to a questionaire for example
            -->
            <input type="checkbox" id="cb1" disabled checked>
            <label for="cb1">Checkbox 1</label>
        </div>
        <br>
        <div class="checkbox">
            <input type="checkbox" id="cb2">
            <label for="cb2">Checkbox 2</label>
        </div>
        <br>
        <div class="checkbox">
            <input type="checkbox" id="cb3">
            <label for="cb3">Checkbox 3</label>
        </div>
    </div>
</body>
</html>