<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheckBox Test</title>
    <link rel="stylesheet" href="../styles/cbstyles.css" />
</head>
<body>
    <div class="checkbox-container">
        <div class="checkbox">
            <input type="checkbox" id="cb1">
            <label for="cb1">Checkbox 1</label>
        </div>
        <br>
        <div class="checkbox">
            <input type="checkbox" id="cb2">
            <label for="cb2">Checkbox 2</label>
        </div>
        <br>
        <div class="checkbox">
            <input type="checkbox" id="cb3">
            <label for="cb3">Checkbox 3</label>
        </div>
    </div>
</body>
</html>