<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/gridpractice.css"></link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid Example</title>
</head>
<body>
    
    <!-- Example practice for general grid layouts -->
    <!-- 
    <div class="grid-container">
        
        
        
        <div class="grid-item grid-item-1">Grid Item 1</div>
        <div class="grid-item grid-item-2">Grid Item 2</div>
        <div class="grid-item grid-item-3">Grid Item 3</div>
        <div class="grid-item grid-item-4">Grid Item 4</div>
        <div class="grid-item grid-item-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi 
            neque aspernatur hic sunt culpa, molestiae consectetur sapiente doloremque quaerat, porro minima, 
            voluptate debitis vel reiciendis odit. Libero, numquam unde placeat consequatur sed aspernatur 
            error quisquam saepe nesciunt velit rem, quae suscipit quibusdam dolor recusandae voluptates 
            tempora, assumenda architecto maxime dicta commodi ea hic vitae! Mollitia sed voluptatem numquam 
            eveniet unde non debitis, facere est repellat veritatis aperiam modi distinctio reprehenderit 
            voluptatum natus eos tenetur quo tempora deleniti asperiores in. Consectetur iste in omnis, 
            asperiores eveniet id! Laudantium, quaerat? Expedita nulla nihil 
            voluptatem natus nobis aut totam tenetur libero obcaecati repellendus.
        </div>
         
    </div>
    -->
    <!-- End practice example for general grid layouts -->

    <!-- grid and content alignment example-->
    <div class="grid-container-v2">
        <div class="grid-item grid-item-v2-1">Grid Item 1</div>
        <div class="grid-item grid-item-v2-2">Grid Item 2</div>
        <div class="grid-item grid-item-v2-3">Grid Item 3</div>
        <div class="grid-item grid-item-v2-4">Grid Item 4</div>
        <div class="grid-item grid-item-v2-5">Grid Item 5</div>
    </div>
</body>
</html>