<!DOCTYPE html>
<html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="LearnJPOnline" content="Learn Japanese online through learning Hiragana, Katakana, Kanji, a host of vocabulary and sentence construction
        through grammar lessons." charset="utf-8" />
        <title>LearnJPOnline</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
        <body>
            <header>
                <nav>
                    <ul>
                        <li><a href = "index.html">Home</a></li>
                        <li><a href = "vocabulary.html">Vocabulary</a></li>
                        <li><a href = "hiragana.html">Hiragana</a></li>
                        <li><a href = "katakana.html">Katakana</a></li>
                        <li><a href = "kanji.html">Kanji</a></li>
                        <li><a href = "lessons.html">lessons</a></li>
                    </ul>
                </nav>
                <hr>
                <h1>LearnJPOnline</h1>
            </header>
            <section>
                <img src="images/snowbuilding.jfif">
                <h2>What is LearnJPOnline?</h2>
                <p>LearnJPOnline is a passion project to help myself study japanese more effectively. While initially it will be basic
                    much like this description, I plan to ramp it up progressively adding more categories and features as I progress. I hope that this site
                will be able to help myself and anyone else who finds it to gain the knowledge they desire and make potential trips Japan a more pleasant and enjoyable experience. </p>
            </section>
        </body>
    
</html>