<!DOCTYPE html>
<html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="LearnJPOnline" content="Learn Japanese online through learning Hiragana, 
        Katakana, Kanji, a host of vocabulary and sentence construction
        through grammar lessons." charset="utf-8" />
        <title>LearnJPOnline</title>
        <link rel="stylesheet" href="../styles/styles.css" />
    </head>
        <body>
            <header class="main-header"> 
                <nav class="nav main-nav">
                    <a href="index.html"><p class="site-logo">LearnJPOnline</p></a>
                    <ul>
                        <li ><a href = "index.html">Home</a></li>
                        <li ><a href = "vocabulary.html">Vocabulary</a></li>
                        <li ><a href = "hiragana.html">Hiragana</a></li>
                        <li ><a href = "katakana.html">Katakana</a></li>
                        <li ><a href = "kanji.html">Kanji</a></li>
                        <li ><a href = "lessons.html">lessons</a></li>
                    </ul>
                </nav>
            </header>



            <section class="content-section container">
                <h2 class="section-header">What is LearnJPOnline?</h2>
                <p class="booter-font">
                    LearnJPOnline is a passion project to help myself study japanese more effectively. 
                    While initially it will be basic much like this description, I plan to 
                    ramp it up progressively adding more categories and features as I develop
                    it. I hope that this site will be able to help myself and anyone else 
                    who finds it to gain the knowledge they desire and make potential 
                    trips to Japan a more pleasant and enjoyable experience. </p>
            </section>
            <footer class="main-footer">
                <div class="container main-footer-container">
                    <a href="index.html"><p class="site-logo">LearnJPOnline</p></a>
                    <ul class="nav footer-nav">
                        <li>
                            <a href="https://www.facebook.com/corey.duncan.921" target="_blank">
                                <img src="../images/facebook.png">
                            </a>
                        </li>
                    </ul>
                </div>

            </footer>
        </body>
    
</html>