<!DOCTYPE html>
<html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="LearnJPOnline" content="Learn Japanese online through learning Hiragana, 
        Katakana, Kanji, a host of vocabulary and sentence construction
        through grammar lessons." charset="utf-8" />
        <title>LearnJPOnline</title>
        <link rel="stylesheet" href="../styles/styles.css" />
    </head>
        <body>
            <header class="main-header"> 
                <nav class="nav main-nav">
                    <a href="index.html"><p class="site-logo">LearnJPOnline</p></a>
                    <ul>
                        <li ><a href = "index.html">Home</a></li>
                        <li ><a href = "vocabulary.html">Vocabulary</a></li>
                        <li ><a href = "hiragana.html">Hiragana</a></li>
                        <li ><a href = "katakana.html">Katakana</a></li>
                        <li ><a href = "kanji.html">Kanji</a></li>
                        <li ><a href = "lessons.html">lessons</a></li>
                    </ul>
                </nav>
            </header>

            <div class="flexbox-vocab-container">
                <div class="flexbox-vocab-item flexbox-vocab-item-word">
                    <div>Pronunciation: wa-ta-shi</div>
                    <div>Kanji : 私</div>
                    <div>Hiragana : わたし</div>
                    
                </div>
                <div class="flexbox-vocab-item flexbox-vocab-item-meaning">

                    <div>English: </div>
                    <br>
                    <div>Meaning: I, me</div>
                </div>
                <div class="flexbox-vocab-item flexbox-vocab-item-example">
                    <div>Sentence Example</div>
                    <div class="small-text">わたしはこーりーです</div>
                    <div>私はコーリーです</div>
                    <div>I am Corey</div>
                </div>
            </div>




            
            <footer class="main-footer">
                <div class="container main-footer-container">
                    <a href="index.html"><p class="site-logo">LearnJPOnline</p></a>
                    <ul class="nav footer-nav">
                        <li>
                            <a href="https://www.facebook.com/corey.duncan.921" target="_blank">
                                <img src="../images/facebook.png">
                            </a>
                        </li>
                    </ul>
                </div>

            </footer>
        </body>
    
</html>