@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@font-face {
    font-family: "Booter";
    src: url("Fonts/Booter\ -\ Zero\ Zero.woff") format("woff")
         /**url("Fonts/BOOTEROZ.ttf") format("ttf");
         You can add extra urls to tell it to try the next one in case the first fails**/
    
}
* {
    box-sizing: border-box;
    font-family:Raleway;
    color:black;
}

.child-three {
    /* fixed position elements are always fixed based on the entire html document(body)
    Works well for scrolling because it sticks to the screen rather than page*/
    position: sticky;
    top:0;
    right:0;
    }

html, body{
    margin:0;
    padding:0;
    background-color: rgb(224, 227, 230);
}

.nav ul{
    margin:0;
    
}

.nav li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav a {
    display: inline-flex;
    padding: .5em;
    color: white;
    text-decoration: none;
    
}


.nav li:hover {
    background-color:rgba(83, 83, 83, 0.3);
}

.main-nav {
    width: 100%;
    position: fixed;
    top:1px;
    text-align: center;
    font-size: 1em;
    font-weight:lighter;
    border-top: 1px solid rgba(255, 255, 255, 0.452);
    border-bottom: 1px solid rgba(255, 255, 255, 0.842);
    background-color: rgba(0, 0, 0, 0.7);
    
}

.main-nav-home{
    background-color: rgba(0, 0, 0, 0.596);
}


.main-header{
    width:100%;
    background-color: rgba(165, 160, 160, 0.95);
}

.main-header-home{
    height:37vw;
    background-blend-mode: multiply;
    background-size: cover;
    background-image: url('../images/snowbuilding.jfif');
}




.site-logo {
    margin: 0;
    /* fun text coloring*/ 
    background: linear-gradient(60deg, 
    red, rgb(45, 161, 74), rgb(189, 55, 133), rgb(125, 156, 196), red);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,.2);
    /**/
    font-size: 3em;
    font-family: "Booter";
    font-weight: normal;
    /* position: fixed; */
    left:.1em;
    top:0em;
}



.site-name-large{
    font-size: 8vw;
    margin:0 10%;
}

.booter-font{
    font-family: "Booter";
    font-weight:normal;
    color: #333;
    font-size: 1.4em;
}
.content-section{
    margin: 1em;
}

.circle {
    height: 100px;
    width: 100px;
    padding: 20px;/*space between content and border */
    margin: 30px;/* space between style/object and everything outside of it*/
    border: 100px solid maroon;/* a border.. just straight up like a picture frame */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 70%; /* pretty much turns things into circles, in particular though it rounds your border style. higher number  = more rounded less visible*/
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family: "Booter";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;/**makes a nice circle for us**/
}

.main-footer {
    background-color: rgb(5, 5, 5);
    color:white;
    padding: .25em 0;
    width: 100%;
    margin-top: 5.5em;
    bottom: 0;
}

.main-footer-container {
    display: flex;
    align-items: center;


}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height:30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255,255,255,.1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255,255,255,.3);
}

.btn-primary {
    color: white;
    background-color:#56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}



.btn-danger {
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: darkred;
}
/* this is not a usable style. only present for containing examples of how to work
with flex boxes */ 
.flexbox-container1 {
    display: flex;
    
    width:50%;/*how much of the screen does the style use?*/
    /* No margin top to bottom but keeps 25% of the screen to the left and right sides 
    of the style/item */
    margin:0 25%;
    background-color: #beaa36;
    /** Helps us determine where our content appears
    within our flexbox know that flexbox works like a graph with (0,0) in the center.
    So center will center our content in the middle of the box, start will put it on the left,
    end will put it on the right, space-evenly will evenly space them, space-around will
    evenly space on all sides*/
    justify-content: space-evenly;
    align-items: center;/* centers items along the main axis*/
    align-content: center; /* centers content along the main axis*/
    flex-wrap: wrap;/* multiple rows when screen too small to keep on one line*/
    /* changes flexbox layout so that we have column (vertical) arranging rather than row based*/
    flex-direction: column;
    flex-shrink:0;/* stops the box from shrinking as the screen size changes */
    flex-grow:1; /*fill remaining space along main axis I think?*/
    /* flex-basis
    Tells our flexbox where to start growing from(0 is saying like it were 0 pixels wide */
    flex-basis: 0; 
    /* alters the individual box's alignment */
    align-self: center;
    /* order allows us to change the order in which flexbox items appear in the flexbox*/
    order: 0;
}

.flexbox-container {
    display: flex;
    /* justify-content: center;
    align-items: center ; */
    background-color: #beaa36;

}
.flexbox-vocab-container{
    margin-top:7em;
    width: 100%;
    height:800px;
    display: flex;
    justify-content: left;
    /* align-items: flex-start ; */
    background-color: #beaa36;
}

.flexbox-vocab-item{
    display: flex;
    margin:10px;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    font-size: 2em;
    background-color: mediumturquoise;
    border: 3px solid mediumvioletred;
    border-radius: 7%;
    text-align: center;
    flex-direction: column;

}

.flexbox-vocab-item-word{
    
    justify-content: left;
    align-items: flex-start;
    padding-left:10px;
    padding-top: 20px;

}

.flexbox-vocab-item-meaning{

}

.flexbox-container-main-nav {
    height: 3em;
    display: flex;
}

.flexbox-item {
    width: 200px;
    margin: 0px;
    border: 3px solid rgb(126, 123, 123);
    background-color: #c5b6b6;
}

.small-text {
    font-size: .5em;
}

